{% set CLUSTER_TYPE = env['project'] + '/' + properties['cluster'] + '-v1' %}
{% set COLLECTION = '/api/v1/namespaces/{namespace}/replicationcontrollers' %}
resources:
- name: {{ env['deployment'] }}-{{ env['name'] }}-sysdig-agent
  type: {{ CLUSTER_TYPE }}:{{ COLLECTION }}
  properties:
    namespace: default
    kind: ReplicationController
    apiVersion: v1
    metadata:
      name: sysdig-agent
      labels:
        app: sysdig-agent
    spec:
      replicas: {{ properties['slaveNodeNumbers'] }}
      template:
        metadata:
          labels:
            name: sysdig-agent
        spec:
          volumes:
          - name: docker-sock
            hostPath:
             path: /var/run/docker.sock
          - name: dev-vol
            hostPath:
             path: /dev
          - name: proc-vol
            hostPath:
             path: /proc
          - name: boot-vol
            hostPath:
             path: /boot
          - name: modules-vol
            hostPath:
             path: /lib/modules
          - name: usr-vol
            hostPath:
              path: /usr
          hostNetwork: true
          hostPID: true
          containers:
          - name: sysdig-agent
            image: sysdig/agent
            ports:
            - containerPort: 6666
              hostPort: 6666
            securityContext:
             privileged: true
            env:
            - name: ACCESS_KEY     #*** Required ***
              value: {{ properties['key'] }}
            - name: K8S_DELEGATED_NODE  #delegated node 
              value: {{ properties['delegatedNode'] }}
            - name: K8S_API_URI    #k8s_uri api endpoint
              value: {{ properties['apiUri'] }}
            volumeMounts:
            - mountPath: /host/var/run/docker.sock
              name: docker-sock
              readOnly: false
            - mountPath: /host/dev
              name: dev-vol
              readOnly: false
            - mountPath: /host/proc
              name: proc-vol
              readOnly: true
            - mountPath: /host/boot
              name: boot-vol
              readOnly: true
            - mountPath: /host/lib/modules
              name: modules-vol
              readOnly: true
            - mountPath: /host/usr
              name: usr-vol
              readOnly: true