resources:
- name: {{ env['name'] }}-v1
  type: deploymentmanager.alpha.type
  properties:
    configurableService:
      descriptorUrl: https://{{ properties['ip'] }}/swaggerapi/api/v1
      credential:
        basicAuth:
          user: {{ properties['user'] }}
          password: {{ properties['password'] }}
- name: {{ env['name'] }}-extensions-v1beta1
  type: deploymentmanager.alpha.type
  properties:
    configurableService:
      descriptorUrl: https://{{ properties['ip'] }}/swaggerapi/apis/extensions/v1beta1
      credential:
        basicAuth:
          user: {{ properties['user'] }}
          password: {{ properties['password'] }}


