{% set CLUSTER_TYPE = env['project'] + '/' + properties['cluster'] + '-extensions-v1beta1' %}
{% set DAEMONSETS_COLLECTION = '/apis/extensions/v1beta1/namespaces/{namespace}/daemonsets' %}
resources:
- name: {{ env['deployment'] }}-{{ env['name'] }}-sysdig-agent
  type: {{ CLUSTER_TYPE }}:{{ DAEMONSETS_COLLECTION }}
  properties:
    namespace: default
    apiVersion: extensions/v1beta1
    kind: DaemonSet
    metadata:
      name: sysdig-agent
      labels:
        app: sysdig-agent
    spec:
      template:
        metadata:
          labels:
            name: sysdig-agent
        spec:
          volumes:
          - name: dshm
            emptyDir:
              medium: Memory
          - name: docker-sock
            hostPath:
             path: /var/run/docker.sock
          - name: dev-vol
            hostPath:
             path: /dev
          - name: proc-vol
            hostPath:
             path: /proc
          - name: boot-vol
            hostPath:
             path: /boot
          - name: modules-vol
            hostPath:
             path: /lib/modules
          - name: usr-vol
            hostPath:
              path: /usr
          hostNetwork: true
          hostPID: true
          containers:
          - name: sysdig-agent
            image: sysdig/agent
            securityContext:
             privileged: true
            env:
            - name: ACCESS_KEY     #*** Required ***
              value: {{ properties['key'] }}
            - name: K8S_DELEGATED_NODE  #delegated node 
              value: {{ properties['delegatedNode'] }}
            - name: K8S_API_URI    #k8s_uri api endpoint
              value: {{ properties['apiUri'] }}
    # TODO: Add these as optional properties.
    #        - name: TAGS          #optional
    #          value: <TAGS>
    #        - name: COLLECTOR     #use for on-prem install
    #          value: <COLLECTOR ENDPOINT>
    #        - name: SECURE        #use for on-prem install
    #          value: <BOOLEAN>
    #        - name: CHECK_CERTIFICATE #use for on-prem install
    #          value: <BOOLEAN>
            volumeMounts:
            - mountPath: /host/var/run/docker.sock
              name: docker-sock
              readOnly: false
            - mountPath: /host/dev
              name: dev-vol
              readOnly: false
            - mountPath: /host/proc
              name: proc-vol
              readOnly: true
            - mountPath: /host/boot
              name: boot-vol
              readOnly: true
            - mountPath: /host/lib/modules
              name: modules-vol
              readOnly: true
            - mountPath: /host/usr
              name: usr-vol
              readOnly: true
            - mountPath: /dev/shm
              name: dshm
